<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../jquery-1.10.2.min.js"></script>
    </head>
<body>
<form method="post" action="" id="locationform">
    <table cellpadding="12">
    <tr>
        <td class="label">Name</td><td><input type="text" name="name" value="<%=data[0].name%>"></td>
     </tr>
	 <tr>
        <td class="label">City</td><td><input type="text" name="city" value="<%=data[0].city%>"></td>
     </tr>
    <tr>
        <td class="label">State</td><td><input type="text" name="state" value="<%=data[0].state%>"></td>
     </tr>
      <tr>
        <td class="label">Zipcode</td><td><input type="text" name="zipcode" value="<%=data[0].zipcode%>"></td>
     </tr>

     <tr>
        <td class="label"></td>
        <td>
            <input type="button" value="Save changes" onClick="saveLocation()">
        </td>
     </tr>
    </table>
</form>
	<script>
    
        function saveLocation(){           
           $.ajax({            
            url:"/locations/"+<%=data[0].id%>,
            type:"put",
            data:$("#locationform").serialize(),
            success:function(res){                
                window.location.href = '/locations/';
                return false;
            },
            error:function(xhr, status, error){                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }            
           });
        }
    
    </script>
</body>
</html>
