<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../jquery-1.10.2.min.js"></script>
		
    </head>
<body>

<form method="post" action="" id="ridesform">

    <table cellpadding="12">
    <tr>
        <td class="label">Driver ID</td><td><input type="text" name="driverid" value="<%=ride[0].driverid%>"></td>
     </tr>

    <tr>
        <td class="label">Origin</td><td><!--<input type="text" name="origin" value="<%=ride[0].origin%>">-->
		
		<select name="origin">
				<% if(locations.length){                         
         for(var i = 0;i < locations.length;i++) { 
				if(locations[i].id==ride[0].origin){%> 
				<option value="<%=locations[i].id%>" selected><%=locations[i].name%> <%=locations[i].city%> <%=locations[i].state%> <%=locations[i].zipcode%></option>
				<%}
				else{ %> 
				<option value="<%=locations[i].id%>"><%=locations[i].name%> <%=locations[i].city%> <%=locations[i].state%> <%=locations[i].zipcode%></option>
				<%}
				
    }
    
     }else{ %>
	 
	 <option value="0">No Locations</option>

    <% } %>
		
		</td>
     </tr>
	 	 <tr>
        <td class="label">Destination</td><td><!--<input type="text" name="destination" value="<%=ride[0].destination%>">-->
		<select name="destination">
				<% if(locations.length){                         
         for(var i = 0;i < locations.length;i++) { 
				if(locations[i].id==ride[0].destination){%> 
				<option value="<%=locations[i].id%>" selected><%=locations[i].name%> <%=locations[i].city%> <%=locations[i].state%> <%=locations[i].zipcode%></option>
				<%}
				else{ %> 
				<option value="<%=locations[i].id%>"><%=locations[i].name%> <%=locations[i].city%> <%=locations[i].state%> <%=locations[i].zipcode%></option>
				<%}
     }
    
     }else{ %>
	 
	 <option value="0">No Locations</option>

    <% } %>
		
		</td>
     </tr>
      <tr>
        <td class="label">Seats</td><td><input type="text" name="seats" value="<%=ride[0].seats%>"></td>
     </tr>
		<tr>
			<td>Date</td><td><input type="date" name="date" value="<%=ride[0].datetime%>"></td>
		</tr>
     <tr>
        <td class="label"></td>
        <td>
            <input type="button" value="Save changes" onClick="saveRide()">
        </td>
     </tr>
    </table>
</form>
	<script>
    
        function saveRide(){           
           $.ajax({            
            url:"/rides/"+<%=ride[0].id%>,
            type:"put",
            data:$("#ridesform").serialize(),
            success:function(res){                
                window.location.href = '/rides/';
                return false;
            },
            error:function(xhr, status, error){                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }            
           });
        }
    
    </script>
</body>
</html>
