<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../jquery-1.10.2.min.js"></script>
    </head>
<body>
<div>
    <table border="0" cellpadding="6" cellspacing="6">
        <tr>
            <th width="65px">ID</th>
            <th>Name</th>
			<th>City</th>
            <th>State</th>
            <th>zipcode</th>
			<th></th>
        </tr>
                       
        <% if(data.length){                         
         for(var i = 0;i < data.length;i++) { %>         
        <tr>
			<td><%=data[i].id%></td>
            <td><%=data[i].name%></td>
			<td><%=data[i].city%></td>
            <td><%=data[i].state%></td>
            <td><%=data[i].zipcode%></td>
            <td>
                <a href="/locations/<%=data[i].id%>">Edit Location</a>               
                <a href="javascript:void(0)" onClick="deleteLocation(<%=data[i].id%>)">Delete Location</a>               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Locations</td>
         </tr>
    <% } %>
                                      
    </table>
</div>
<div class="page-data">
    
    <form method="post" action="" id="locationform">
        <table cellpadding="12">
		<tr>
			<h3> Add a new location</h3>
		</tr>
		<!--<tr>			
            <td class="label">ID</td><td><input type="text" name="id"></td>
         </tr>-->
        <tr>
            <td class="label">Name</td><td><input type="text" name="name"></td>
         </tr>
		 <tr>
            <td class="label">City</td><td><input type="text" name="city"></td>
         </tr>
        <tr>
            <td class="label">State</td><td><input type="text" name="state"></td>
         </tr>
          <tr>
            <td class="label">zipcode</td><td><input type="text" name="zipcode"></td>
         </tr>
         <tr>
            <td></td>
            <td>
                <input type="button" value="Add location" onClick="saveLocation()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>
    function saveLocation(){       
       $.ajax({        
        url:"/locations/",
        type:"post",
        data:$("#locationform").serialize(),
        success:function(res){            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){           
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {               
                 err += '<li>' + item.msg + '</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteLocation(id){    
        $.ajax({
            url:"/locations/"+id,
            type: 'DELETE',
            success: function(res) {                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){            
                console.log(xhr.responseText);
                alert("delete error");
                return false;
            }
        });
    }

</script>
</body>
</html>
