<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../jquery-1.10.2.min.js"></script>
    </head>
<body>

<div class="page-data">
    
    <form method="post" action="" id="ridesform">
        <table cellpadding="12">
		<tr>
			<h3> Add a new Ride</h3>
		</tr>
		<!--<tr>			
            <td class="label">ID</td><td><input type="text" name="id"></td>
         </tr>-->
        <tr>
            <td class="label">Driver</td><td><input type="text" name="driverid"></td>
         </tr>
		 <tr>
            <td class="label">Origin</td><td>
			<select name="origin">
				<% if(data.length){                         
         for(var i = 0;i < data.length;i++) { %> 
				<option value="<%=data[i].id%>"><%=data[i].name%> <%=data[i].city%> <%=data[i].state%> <%=data[i].zipcode%></option>
				
    <% }
    
     }else{ %>
	 
	 <option value="0">No Locations</option>

    <% } %>
			</select>
			</td>
         </tr>
        <tr>
            <td class="label">Destination</td><td>
			<select name="destination">
			
					<% if(data.length){                         
         for(var i = 0;i < data.length;i++) { %> 
				<option value="<%=data[i].id%>"><%=data[i].name%> <%=data[i].city%> <%=data[i].state%> <%=data[i].zipcode%></option>
				
    <% }
    
     }else{ %>
	 
	 <option value="0">No Locations</option>

    <% } %>
	</select>
			</td>
         </tr>
          <tr>
            <td class="label">Seats</td><td><input type="number" name="seats"></td>
         </tr>
		  <tr>
            <td class="label">Date</td><td><input type="text" name="datetime"></td>
         </tr>
		 <tr>
            <td class="label">Flexibility</td><td><input type="number" name="flexibility"></td>
         </tr>
         <tr>
            <td></td>
            <td>
                <input type="button" value="Add Ride" onClick="addRide()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>
    function addRide(){       
       $.ajax({        
        url:"/newride/",
        type:"post",
        data:$("#ridesform").serialize(),
        success:function(res){            
			window.location.href = '/rides/';
            return false;
        },
        error:function(xhr, status, error){           
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {               
                 err += '<li>' + item.msg + '</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
	
</script>
   </body>
</html>