<!-- views/pages/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <br/><br/>
    <h1>All Destinations</h1>

    <!--<div align="center">-->
    <div>
        <table border="0" cellpadding="5" cellspacing="5">
        <tr>
         <!-- <th>ID</th>
           <th>&nbsp;</th>-->
          <th>Driver</th>
          <th>&nbsp;</th>
          <th>Origin</th>
          <th>&nbsp;</th>
          <th>Destination</th>
          <th>&nbsp;</th>
          <th>Seats</th>
          <th>&nbsp;</th>
          <th>Date and Time</th>
          <th>&nbsp;</th>
          <th>Flexibility (hours)</th>
          <!--<th>&nbsp;</th>
          <th>Requested</th>-->
        </tr>
                       
        <% if(data.length){                         
         for(var i = 0;i < data.length;i++) { 

        if((i%2)==0){ %>
          <tr bgcolor="#A9E2F3">
        <% } else { %> 
          <tr>
        <% } %>    

        
      <!--<td><%=data[i].id%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>-->
      <td><%=data[i].firstname%> <%=data[i].lastname%>  (<%=data[i].email%>) </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%=data[i].origin%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%=data[i].destination%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%=data[i].seats%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%=data[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%=data[i].flexibility%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <!--<td><%=data[i].requested%></td>
      <td>&nbsp;&nbsp;&nbsp;</td>-->
              <td>

              <% if (userriderequests.length) { 
                     for(var j = 0;j < userriderequests.length;j++) { 
                    if (userriderequests[j].rideid==data[i].id) {
                     %>
                        <a href="javascript:void(0)" onClick="cancelRequest(<%=data[i].id%>)">Cancel Request</a>   
              <% } } }%>  

              <% if(data[i].driverid!=userid) { 
                    var alreadyRequested=0;
                    if (userriderequests.length) { 
                      for(var j = 0;j < userriderequests.length;j++) { 
                        if (userriderequests[j].rideid==data[i].id) {
                            alreadyRequested=1;
                        }
                      }
                    }

                    if(alreadyRequested==0) { %> 

                        <a href="javascript:void(0)" onClick="requestRide(<%=data[i].id%>)">Request</a> 

                  <% }
                } %>  

            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Rides</td>
         </tr>
    <% } %>
                                      
    </table>
    </div>

    <script>

    function cancelRequest(id){    
      $.ajax({
          url:"/request/"+id,
          type: 'POST',
          date: 'cancel',
          success: function(res) {                
              window.location.reload();
              //alert("Your request was cancelled.");
              return false;
          },
          error:function(xhr, status, error){            
              console.log(xhr.responseText);
              alert("mysql error");
              return false;
          }
      });
    }

      function requestRide(id){    
        $.ajax({
            url:"/riderequest/"+id,
            type: 'POST',
            success: function(res) {  
                          
                window.location.reload();   
                //alert("Your request was saved.");               
                return false;
            },
            error:function(xhr, status, error){            
                console.log(xhr.responseText);
                window.location.reload();  
                //it is working but still returns error
               // alert("mysql error");
                return false;
            }
        });
      }

    </script>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>