<!-- views/pages/destination.ejs -->
<html class = "full" lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <p>\n\n\n\nHELLO RIDE-SHARING</p>
    <p>RideShare | <%=title %></p>
    <div style="text-align:center">
      <a href="/listView">List View</a>
      <a href="/calendarView">Calendar View</a>
    </div>
    <p>RideShare | <%=title %></p> 
    <div>

      <% if(data.length){                         
       for(var i = 0;i < data.length;i++) { %>  

       <div class="container-fluid scroll col-md-5">
        <div class="panel panel-info col-md-offset-2">
          <div class="panel-heading">
            <h3 class="panel-title">
              Ride Destination: <%=data[i].destination%>
            </h3>
          </div>
          <div class="panel-body">
            <!-- List group -->
            <ul class="list-group">
              <li class="list-group-item"><strong>Origin</strong>: <%=data[i].origin%></li>
              <li class="list-group-item"><strong>Destination: </strong> <%=data[i].destination%></li>
              <li class="list-group-item"><strong>Date: </strong><%=data[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></li>
              <!--<li class="list-group-item"><strong>Time: </strong> 11:30pm</li>-->
              <li class="list-group-item"><strong>Seats Available: </strong><%=data[i].seats%></li>
              <li class="list-group-item"><strong>Flexibility: </strong><%=data[i].flexibility%></li>
              <li class="list-group-item"><strong>Offered By: </strong><%=data[i].firstname%> <%=data[i].lastname%> (<%=data[i].email%>) </li>
              <li class="list-group-item"><strong>
              <button type="submit" class="btn btn-info" onClick="requestRide(<%=data[i].id%>)">Request Ride</button>
                <!--<a href="javascript:void(0)" onClick="requestRide(<%=data[i].id%>)">Request Ride</a>-->  
                <button type="submit" class="btn btn-info" onClick="location.href='/ride/<%=data[i].id%>'">Edit Ride</button>
                <!--<a href="/rides/<%=data[i].id%>">Edit Ride</a>-->     
                <button type="submit" class="btn btn-info" onClick="deleteRide(<%=data[i].id%>)">Delete Ride</button>
                <!--<a href="javascript:void(0)" onClick="deleteRide(<%=data[i].id%>)">Delete Ride</a>-->
              </strong></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div> <!-- /.panel -->
  </div>

  <% }

}else{ %>

<p>No Rides Offered.</p>

<% } %>


</div> 
</main>
<script>

function deleteRide(id){  

var result = confirm("Do you want to delete this ride?");
if (result) {

  $.ajax({
      url:"/ride/"+id,
      type: 'DELETE',
      success: function(res) {                
          window.location.reload();
          alert("Ride was deleted.");
          return false;
      },
      error:function(xhr, status, error){            
          console.log(xhr.responseText);
          alert("delete error");
          return false;
      }
  });

  }
}

function requestRide(id){    
  $.ajax({
      url:"/riderequest/"+id,
      type: 'POST',
      success: function(res) {                
          window.location.reload();
          alert("Your request was saved.");
          return false;
      },
      error:function(xhr, status, error){            
          console.log(xhr.responseText);
          alert("mysql error");
          return false;
      }
  });
}
</script>
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
