<!-- views/pages/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <br/><br/>
    <h1>My Rides</h1>

    <div>
    <h3>Rides You Have Offered</h3>
    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <th>ID</th>
            <th>Driver</th>
      <th>Origin</th>
            <th>Destination</th>
            <th>Seats</th>
      <th>Date and Time</th>
      <th>Flexibility (hours)</th>
      <th>Requested</th>
        </tr>
                       
        <% if(offered.length){                         
         for(var i = 0;i < offered.length;i++) { %>         
        <tr>
      <td><%=offered[i].id%></td>
            <td><%=offered[i].firstname%> <%=offered[i].lastname%></td>
      <td><%=offered[i].origin%></td>
            <td><%=offered[i].destination%></td>
            <td><%=offered[i].seats%></td>
      <td><%=offered[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></td>
      <td><%=offered[i].flexibility%></td>
      <td><%=offered[i].requested%></td>
            <td>
                <a href="/ride/<%=offered[i].id%>">Edit Ride</a>
                <!--<button type="submit" class="btn btn-info" onClick="location.href='/ride/<%=data[i].id%>'">Edit Ride</button> -->              
                <a href="javascript:void(0)" onClick="deleteRide(<%=offered[i].id%>)">Delete Ride</a>          
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Rides</td>
         </tr>
    <% } %>
                                      
    </table>
    </div>


    <div>
    <h3>Rides You Have Requested</h3>
    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <th>ID</th>
            <th>Driver</th>
      <th>Origin</th>
            <th>Destination</th>
            <th>Seats</th>
      <th>Date and Time</th>
      <th>Flexibility (hours)</th>
      <th>Requested</th>
        </tr>
                       
        <% if(requested.length){                         
         for(var i = 0;i < requested.length;i++) { %>         
        <tr>
      <td><%=requested[i].id%></td>
            <td><%=requested[i].firstname%> <%=requested[i].lastname%></td>
      <td><%=requested[i].origin%></td>
            <td><%=requested[i].destination%></td>
            <td><%=requested[i].seats%></td>
      <td><%=requested[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></td>
      <td><%=requested[i].flexibility%></td>
      <td><%=requested[i].requested%></td>
            <td>
        <a href="javascript:void(0)" onClick="requestRide(<%=requested[i].id%>, 1)">Cancel Request </a>  
          
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Rides</td>
         </tr>
    <% } %>
                                      
    </table>
    </div>
    <div>
    <h3>Ride Requests That Have Not Been Offered Yet</h3>
    <a href="javascript:void(0)" onClick="offerRide()">Offer Ride</a>
    </div>
    <br/>
    <br/><br/>
    <script>
    function deleteRide(id){  

    var result = confirm("Do you want to delete this ride?");
    if (result) {

      $.ajax({
          url:"/ride/"+id,
          type: 'DELETE',
          success: function(res) {                
              window.location.reload();
              alert("Ride was deleted.");
              return false;
          },
          error:function(xhr, status, error){            
              console.log(xhr.responseText);
              alert("delete error");
              return false;
          }
      });

  }
}
     
    </script>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>