<!-- views/pages/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <br/><br/>
    <h1>My Rides</h1>

    <div>
    <h3>Rides You Have Offered</h3>
    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <th>ID</th>
            <th>Driver</th>
      <th>Origin</th>
            <th>Destination</th>
            <th>Seats</th>
      <th>Date and Time</th>
      <th>Flexibility (hours)</th>
      <th>Requested</th>
        </tr>
                       
        <% if(data.length){                         
         for(var i = 0;i < data.length;i++) { %>         
        <tr>
      <td><%=data[i].id%></td>
            <td><%=data[i].firstname%> <%=data[i].lastname%></td>
      <td><%=data[i].origin%></td>
            <td><%=data[i].destination%></td>
            <td><%=data[i].seats%></td>
      <td><%=data[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></td>
      <td><%=data[i].flexibility%></td>
      <td><%=data[i].requested%></td>
            <td>
        <a href="javascript:void(0)" onClick="requestRide(<%=data[i].id%>, 1)">Request Ride</a>  
                <a href="/rides/<%=data[i].id%>">Edit Ride</a>               
                <a href="javascript:void(0)" onClick="deleteRide(<%=data[i].id%>)">Delete Ride</a>          
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Rides</td>
         </tr>
    <% } %>
                                      
    </table>
    </div>


    <div>
    <h3>Rides You Have Requested</h3>
    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <th>ID</th>
            <th>Driver</th>
      <th>Origin</th>
            <th>Destination</th>
            <th>Seats</th>
      <th>Date and Time</th>
      <th>Flexibility (hours)</th>
      <th>Requested</th>
        </tr>
                       
        <% if(data.length){                         
         for(var i = 0;i < data.length;i++) { %>         
        <tr>
      <td><%=data[i].id%></td>
            <td><%=data[i].firstname%> <%=data[i].lastname%></td>
      <td><%=data[i].origin%></td>
            <td><%=data[i].destination%></td>
            <td><%=data[i].seats%></td>
      <td><%=data[i].datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%></td>
      <td><%=data[i].flexibility%></td>
      <td><%=data[i].requested%></td>
            <td>
        <a href="javascript:void(0)" onClick="requestRide(<%=data[i].id%>, 1)">Request Ride</a>  
                <a href="/rides/<%=data[i].id%>">Edit Ride</a>               
                <a href="javascript:void(0)" onClick="deleteRide(<%=data[i].id%>)">Delete Ride</a>          
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Rides</td>
         </tr>
    <% } %>
                                      
    </table>
    </div>
    <div>
    <h3>Ride Requests That Have Not Been Offered Yet</h3>
    <a href="javascript:void(0)" onClick="offerRide()">Offer Ride</a>
    </div>
    <br/>
    <br/><br/>
    <script>

     
    </script>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>